<?xml version="1.0" encoding="UTF-8"?>
<!--该文档用的是xsd的约束,Spring用的也是这种约束-->
<!--约束文档引用官方的文档作为显示的命名空间，如果要使用官方提供的属性或者元素，必须在开头加xsi-->
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
    version="4.0">
    <!--全局初始化参数(web项目初始化的时候就对ServletContext中的内容初始化)-->
    <context-param>
        <param-name>count</param-name>
        <param-value>0</param-value>
    </context-param>
    <!--测试Servlet-->
    <servlet>
        <servlet-name>HelloMyServlet</servlet-name>
        <servlet-class>servlet.HelloServlet</servlet-class>
        <!--针对于每一个Servlet初始化时候的参数-->
        <init-param>
            <param-name>namespace</param-name>
            <param-value>1</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloMyServlet</servlet-name>
        <url-pattern>/helloServlet</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file></welcome-file>
        <welcome-file></welcome-file>
        <welcome-file></welcome-file>
    </welcome-file-list>
    <!--用户登陆Servlet-->
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>servlet.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/userServlet</url-pattern>
    </servlet-mapping>
    
    <!--测试读取properties属性文件的Servlet-->
    <servlet>
        <servlet-name>ReadPropertiesServlet</servlet-name>
        <servlet-class>servlet.ReadPropertiesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReadPropertiesServlet</servlet-name>
        <url-pattern>/readPropertiesServlet</url-pattern>
    </servlet-mapping>
    
    <!--测试response的Servlet类-->
    <servlet>
        <servlet-name>PrintServlet</servlet-name>
        <servlet-class>response.PrintResponse</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PrintServlet</servlet-name>
        <url-pattern>/printServlet</url-pattern>
    </servlet-mapping>
    
    <!--产生验证码图片的Servlet-->
    <servlet>
        <servlet-name>VerifyCodeServlet</servlet-name>
        <servlet-class>servlet.VerifyCodeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VerifyCodeServlet</servlet-name>
        <url-pattern>/verifyCodeServlet</url-pattern>
    </servlet-mapping>
    
    <!--显示登陆时间的测试demo-->
    <servlet>
        <servlet-name>VisitServlet</servlet-name>
        <servlet-class>servlet.VisitServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VisitServlet</servlet-name>
        <url-pattern>/visitServlet</url-pattern>
    </servlet-mapping>
    


</web-app>
